
<div class="clienthome">
   
    <talent-menu ></talent-menu>
         <div class="containerWrapper">
             <div class="container">
                
                                      
                            <ul class="nav nav-tabs nav-justified">
                                    <li class="nav-item" ng-class="{active:selectedTab == 1}" role="presentation">
                                        <a class="nav-link" ng-click="selectTab(1)" data-toggle="tab" role="tab">Group List</a>
                                    </li>
                                    <li class="nav-item" ng-class="{active:selectedTab == 2}" role="presentation">
                                        <a class="nav-link" ng-click="selectTab(2)" data-toggle="tab" role="tab">Create Group</a>
                                    </li>
                                    <li class="nav-item" ng-class="{active:selectedTab == 3}" role="presentation">
                                        <a class="nav-link" ng-click="selectTab(3)" data-toggle="tab" role="tab">Add Yourself to Group</a>
                                    </li>
                                </ul>
                    
                            
                              <!-- Tab panes -->
                              <div class="tab-content">
                                    <div role="tabpanel"  ng-show="selectedTab == 1">
                                    
                                            <table class="table table-bordered">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Group ID</th>
                                                        <th scope="col">Date Created</th>
                                                        <th scope="col">Total Members</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">ASJCJ781</th>
                                                        
                                                        <td>20-04-2018</td>
                                                        <td>2</td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">ASJCJ7812</th>
                                                       
                                                        <td>22-04-2018</td>
                                                        <td>3</td>
                                                      </tr>
                                                      
                                                    </tbody>
                                                  </table>
        
                                    
                                    </div>
                                
                                <div role="tabpanel"  ng-show="selectedTab == 2">

                                        <form class="form-horizontal">
                                                <fieldset>
                                                    <legend>Create Group</legend>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Sponsor Id</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group">
                        
                        
                        
                                                                    <input id="sponsorId" ng-model="sponsorId" placeholder="Sponsor ID" class="form-control" value="" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Sponsor Name</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group">
                                                                        <select id="orgName" class="form-control">
                                                                                <option selected>Choose...</option>
                                                                                <option>Conestoga COllege</option>
                                                                                <option>Mohawk College</option>
                                                                                <option>Cambarian College</option>
                                                                                <option>Fanshaw College</option>
                                                                                <option>Niagra College</option>
                                                                                <option>Confadaration College</option>
                                                                            </select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Year</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group">
                        
                        
                        
                                                                    <input id="year" ng-model="year" placeholder="Year" class="form-control" value="" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Month</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group">
                        
                        
                        
                                                                    <input id="month" ng-model="month" placeholder="Month" class="form-control" value="" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Session</label>
                                                            <div class="col-sm-7">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group">
                                                                            <select id="session1" class="form-control">
                                                                                    <option selected>Choose...</option>
                                                                                    <option>fall-2017</option>
                                                                                    <option>Winter-2018</option>
                                                                                    <option>summer-2018</option>
                                                                                </select>

                                                                 </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                                <span class="col-md-4 control-span"></span>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <input class="btn btn-primary" type="button" ng-model="save" ng-click="" value="Create Group">
                                                                </div>
                                                            </div>

                                                </fieldset>
                                                </form>



                                </div>
                                
                                <div role="tabpanel" ng-show="selectedTab == 3">
                                    
                                    
                                        <form class="form-horizontal">
                                                <fieldset>
                                                    <legend>Join Group</legend>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Group Id</label>
                                                        <div class="col-sm-7">
                                                            <div class="input-group mb-3">
                                                                <div class="input-group">
                        
                        
                        
                                                                    <input id="groupId" ng-model="groupId" placeholder="Group ID" class="form-control" value="" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                            <span class="col-md-4 control-span"></span>
                                                            <div class="col-md-8 inputGroupContainer">
                                                                <input class="btn btn-primary" type="button" ng-model="save" ng-click="" value="Join Group">
                                                            </div>
                                                        </div>


                                                    </fieldset>
                                                    </form>

                                </div>
                               
                              </div>
                            
                           
                
                


             </div> 
           </div>
       </div>
       
       