<div class="clienthome">

    <client-menu></client-menu>
    <div class="containerWrapper">
        <div class="container">
            <div class="wrapper" ng-show="tableShow">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Project Title</th>
                        <th scope="col">Project Description</th>
                        <th scope="col">Project status</th>
                        <th scope="col">Talent Sponsor</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <th scope="row">{{project.project_title}}</th>
                        <td>{{project.project_description}}</td>
                        <td>{{project.project_status}}</td>
                        <td>{{project.sponsor_name}}</td>
                        <td><button class="btn btn-primary" ng-click="showDetails(project)">Details</button>
                        
                        </td>
                    </tr>
                </tbody>
             </table>
            </div>

            <div class="wrapper" ng-hide="tableShow">

                    <button ng-click="showDetails({})">Go back</button><br/>

                <label class="col-sm-2 col-form-label">project_sponsor_name: </label>{{displayProject.project_sponsor_name}}<br/>
                <label class="col-sm-2 col-form-label">title:</label> {{displayProject.title}}<br/>
                <label class="col-sm-2 col-form-label">email:</label> {{displayProject.email}}<br/>
                <label class="col-sm-2 col-form-label">Telephone:</label> {{displayProject.telephone_direct}}<br/>
                <label class="col-sm-2 col-form-label">available_few_hours:</label> {{displayProject.available_few_hours}}<br/>
                <label class="col-sm-2 col-form-label">feedback_given:</label> {{displayProject.feedback_given}}<br/>
                <label class="col-sm-2 col-form-label">project_title:</label> {{displayProject.project_title}}<br/>
                <label class="col-sm-2 col-form-label">project_description:</label> {{displayProject.project_description}}<br/>
                <label class="col-sm-2 col-form-label">attachments_provided:</label> {{displayProject.attachments_provided}}<br/>
                <label class="col-sm-2 col-form-label">problems_opportunity:</label> {{displayProject.problems_opportunity}}<br/>
                <label class="col-sm-2 col-form-label">research_required:</label> {{displayProject.research_required}}<br/>
                <label class="col-sm-2 col-form-label">analysis_required:</label> {{displayProject.analysis_required}}<br/>
                <label class="col-sm-2 col-form-label">estimated_effort_hours:</label> {{displayProject.estimated_effort_hours}}<br/>
                <label class="col-sm-2 col-form-label">report_format:</label> {{displayProject.report_format}}<br/>
                <label class="col-sm-2 col-form-label">other_deliverables:</label> {{displayProject.other_deliverables}}<br/>
                <label class="col-sm-2 col-form-label">skill_needed_1:</label> {{displayProject.skill_needed_1}}<br/>
                <label class="col-sm-2 col-form-label">skill_needed_2:</label> {{displayProject.skill_needed_2}}<br/>
                <label class="col-sm-2 col-form-label">skill_needed_3:</label> {{displayProject.skill_needed_3}}<br/>
                <label class="col-sm-2 col-form-label">required_training:</label> {{displayProject.required_training}}<br/>
                <label class="col-sm-2 col-form-label">training_details:</label> {{displayProject.training_details}}<br/>
                <label class="col-sm-2 col-form-label">international_component:</label> {{displayProject.international_component}}<br/>
                <label class="col-sm-2 col-form-label">international_component_details:</label> {{displayProject.international_component_details}}<br/>
                <label class="col-sm-2 col-form-label">coop_opportunity:</label> {{displayProject.coop_opportunity}}<br/>
                <label class="col-sm-2 col-form-label">coop_opportunity_details:</label> {{displayProject.coop_opportunity_details}}<br/>
                <label class="col-sm-2 col-form-label">year_submitted:</label> {{displayProject.year_submitted}}<br/>
                <label class="col-sm-2 col-form-label">month:</label> {{displayProject.month}}<br/>
                <label class="col-sm-2 col-form-label">day:</label> {{displayProject.day}}<br/>


            </div>

            


        </div> 
    </div>
</div>